<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Comment</h1>
        <%= form_for [@topic, @comment] do |f| %>
          <div class="form-group">
            <%= f.label :content %><br>
            <%= f.text_area :content, class: 'form-control' %>
          </div>

          <%= f.submit 'コメントする', class: 'btn btn-black btn-block' %>

        <% end %>
      </div>
    </div>
  </div>
</div>